<div class="card">
  <div
    [ngClass]="{
      'card__title': true,
      'card__title--green': perfil === 'moderado',
      'card__title--orange': perfil === 'agressivo'
    }">{{classe}}</div>
  <div class="card__identifier">
    <strong class="title">{{nome}}</strong>
    <small class="cnpj">CNPJ: {{cnpj}}</small>
  </div>
  <div class="card__content">
    <label class="label" for="">Valor Mínimo</label>
    <span class="minimal">{{aplicacao_minima | currency: 'BRL': 'symbol': '4.2-2': 'pt'}}</span>
    <label class="label" for="">Liquidez</label>
    <strong class="liquidez">{{liquidez}}</strong>
    <label class="label" for="">Rentabilidade Anual</label>
    <strong class="rentability">{{rentabilidade}}</strong>
    <a class="details" href="">+DETALHES</a>
  </div>
</div>
